@font-face {
    font-family: 'Digital';
    src: url('fonts/digital-7.ttf') format('truetype');
}
@font-face {
    font-family: 'Share Tech Mono';
    src: url('fonts/segmen7-hybrid.ttf') format('truetype');
}

body {
    font-family: 'Digital', monospace;
    text-align: center;
    padding: 20px; /* Reduced padding for mobile */
    background: black;
    color: #ff4081;
    max-width: 100%; /* Prevent horizontal overflow */
    box-sizing: border-box; /* Include padding in width calculation */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
    font-size: 36px; /* Reduced for mobile */
    color: #ff4081;
    margin-bottom: 50px; /* Reduced vertical spacing */
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Reduced gap for mobile */
}

.mainrow, .secrow {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: center;
    position: relative;
    width: 100%; /* Full width */
    margin-bottom: 50px; /* Space between rows */
}

.mainen, .secen, .maindesc, .secdesc {
    position: static; /* Remove absolute positioning */
    font-size: 24px; /* Smaller font size */
    margin: 10px 0; /* Add some vertical spacing */
    left: auto; /* Reset left positioning */
    top: auto; /* Reset top positioning */
    color: #393D42
}

.maincount, .seccount {
    font-size: 36px; /* Adjusted for mobile */
    padding: 10px;
    border-radius: 5px;
    width: 90%; /* Responsive width */
    max-width: 300px; /* Maximum width */
    text-align: center;
}

.maincount {
    font-size: 40px;
    color: #00ff00;
    border: 4px solid #00ff00;
}

.seccount {
    font-size: 24px;
    color: #ff4081;
    border: 0px solid #ff4081;
}

/* Media query for slightly larger mobile devices */
@media screen and (min-width: 375px) {
    h1 {
        font-size: 42px;
    }
    
    .maincount, .seccount {
        width: 80%;
    }
}

/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {
    body {
        padding: 50px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    .mainrow, .secrow {
        flex-direction: row;
    }
    
    .mainen, .secen, .maindesc, .secdesc {
        position: absolute;
    }
}

#mario {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 50px;
  height: auto;
  transition: left 1s linear;
}

.peach-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: auto;
  z-index: 1000;
}

.arrow-icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: auto;
  z-index: 1000;
}

.heart {
    position: fixed;
    left: 50vw;
    bottom: 0;
    width: 30px; /* Tamaño del corazón */
    height: auto;
    transition: transform 2s ease-out, opacity 2s ease-in;
    opacity: 1;
    z-index: 999;
}
